{{> _iNavbar}}
{{> _flashmsg}}
<html>
    <head>
        <style>
            .img1{
    height: 534px;
    left: 107px;


    position: absolute;
    top: 110px;
    width: 679px;

}

.posi{
    margin-top: 190px;
    margin-left:850px;
}
        </style>
    </head>
<body>

<div class="posi">
<img src="https://www.ledgerinsights.com/wp-content/uploads/2021/06/construction-workers.jpg" class="img1">
<div class="place">Home</div>
<h1 class="your-support-is-really-powerful">Your Support Is Really <br/> powerful</h1>
<p class="the-secret-to-happin">The Secret To Happiness Lies In Helping Others. Never<br/> underestimate The Difference You Can Make.</p>
</div>
</body>
</html>

