{{> _lNavbar}}
{{> _flashmsg}}
<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="/css/healthcare.css">
</head>
<body>
    <h1 class="title">IMMUNISATIONS</h1>

    <div class="rectangle-34624619">
        <div class="immunisation-records">Immunisation Records</div>
        <hr class="test4"></hr>
        <img src="https://media.istockphoto.com/id/1293330705/vector/doctor-inject-vaccine-shot-to-patient-covid-19-vaccination-concept.jpg?s=612x612&w=0&k=20&c=XU6BC8W8tDhZ38HuZvrHO8sNQoLyG8HVV102iS-jrKk=" class="image1"></img>
       
  

       <img src="https://media.istockphoto.com/id/1293330705/vector/doctor-inject-vaccine-shot-to-patient-covid-19-vaccination-concept.jpg?s=612x612&w=0&k=20&c=XU6BC8W8tDhZ38HuZvrHO8sNQoLyG8HVV102iS-jrKk=" class="image1"></img>
        <div class="add-immunisation-records inter-medium-black-24px">Completed Immunisation</div>
        
       <a href="/healthcarerecord/viewmigrantimm2/{{individual.id}}" class="add-a-new-record inter-light-black-20px">View your completed immunisation records now! </a>
        <hr class="test6"></hr>

    </div>
    



    </body>
</html>